
@{
    ViewBag.Title = "Sobre";
}

<h2><b>@ViewBag.Titulo</b></h2>

<p>
    Aplicativo para (des)criptografar textos com base nas cifras DES e AES!
</p>

<p>
    O Data Encryption Standard (DES) é uma cifra (método de criptografia) selecionado como FIPS oficial (Federal Information Processing Standard) pelo governo dos EUA em 1976 e que foi utilizado em larga escala internacionalmente. O algoritmo era inicialmente controverso, com um pequeno tamanho de chave e suspeitas de um backdoor da NSA. O DES foi estudado academicamente e motivou os sistemas modernos de entendimento da criptoanálise. O DES é atualmente considerado inseguro para muitas aplicações. Isto se deve principalmente a pequena chave de 56-bit. Em Janeiro de 1999 a distributed.net e a Electronic Frontier Foundation juntas violaram uma chave DES em 22 horas e 15 minutos (veja na cronologia). Também existem alguns resultados analíticos, obtidos teoricamente, que demonstram a fragilidade da cifra, no entanto são improváveis de se montar na prática. Acredita-se que o algoritmo seja seguro na forma de 3DES embora existam ataques teóricos. Recentemente o DES foi substituído pelo AES.
</p>

<p>
    Em Criptografia, o Advanced Encryption Standard (AES, ou Padrão de Criptografia Avançada, em português), também conhecido por Rijndael, é uma cifra de bloco adotada como padrão de criptografia pelo governo dos Estados Unidos. Espera-se que seja utilizado em todo o mundo e analisada extensivamente, assim como foi seu predecessor, o Data Encryption Standard (DES). O AES foi anunciado pelo NIST (Instituto Nacional de Padrões e Tecnologia dos EUA) como U.S. FIPS PUB (FIPS 197) em 26 de Novembro de 2001, depois de 5 anos de um processo de padronização. Tornou-se um padrão efetivo em 26 de Maio de 2002. Em 2006, o AES já é um dos algoritmos mais populares usados para criptografia de chave simétrica.
</p>

<p>
    Neste aplicativo o usuário tem a chance de aplicar a criptografia e descriptografar um texto com base em uma chave escolhida, especificando a cifra e a operação! 
</p>

<hr />

<div class="jumbotron" style="border-style:groove">
    <h2><b>Equipe de Desenvolvedores</b></h2>
    <hr />
    <p>Leonardo Farias Cruz</p>
    <p>Geisiane Ribeiro Cavalcante</p>
    <p>Maria Évila Vituriano da Silva </p>
</div>